@import '../SCSS/variables-scss' ;

.header{
    & .logo{
        padding-right: 0.5rem;
    }
    display:flex;
    align-items: center;
    padding: 1rem 1rem;
    background-color:$primary_color;
    color:$pure;
    box-shadow: inset 3px 0 5px rgba(0,0,0,0.2);
    
}
.view-dash-top{
    height:5rem;
    
    
}
.user-profile-div{
    border-bottom:$primary_color 2px solid;
     
 
    height: 2.5rem;
    display: flex;
    align-items: center;
    width:fit-content;
padding:0 1rem;

    & h3{
        font-size: 1.6rem;
        color: $primary_color;
        font-weight: 500;

    }
}