@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@import './variables-scss';
.side-menu-bar{
    background-color: $primary_color;
    width:20rem;
    height: 100%;
    position: relative;
    color:  $pure;
    & .brand-section{
        height: 20%;
        & h1{
            color: $pure;

        }
    }
    & .theme-button-div{
        display: flex;
        justify-content: center;
        position: absolute;
        bottom:0;
        width:100%;
        padding: 2rem;
        & .theme-button{
            
            width: 50%;
            border-radius: 45px;
            height:4rem;
            position: relative;
            display: flex;
            align-items:center; 
            transition: 0.3s;
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.2);

            & .theme-button-nob{
                position: absolute;
                border-radius: 50%;
                background-color: $primary_color;
                width: 3rem;
                height: 3rem;
                margin:0 0.8rem;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
                transition: 0.3s;
                
            }
        }
        & .light-mode{
            background-color: $light_mode;
            & .theme-button-nob{
                left: 0;
            }
             
        }
        & .dark-mode{
            background-color: $dark_mode;
            & .theme-button-nob{
                right: 0;
            }
             
        }
        
        & .theme-button:hover>.theme-button-nob{
            transform: translateY(-1.5px);
        }
    }
    & ul{
      

        & li{
            transition: 0.2s;

            padding:1rem 2rem;
            // color: $dark_mode;
            
            font-size:1.4rem;
            font-weight:600;
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
            // border: 2px solid;
            & .sidemenu-logo{
                padding-right: 2rem;
            }
            border-left: 3px solid $primary_color;
            border-bottom: 1px solid transparent;

        }
         
        & li:hover{
            // color: $secondary_color;
            border-bottom: 1px solid $pure;
     
            
        }
    }
    & .light-mode{
        background-color: $light_mode;
         color: $primary_color;
    }
    & .dark-mode{
        background-color: $dark_mode;
         color: $primary_color;
    }
    & .active-menu{  
        font-size:1.4rem;
        font-weight: 700;
      
        box-shadow: 0 .7rem .8rem rgba(0, 0, 0, 0.1);
        border-left: 3px solid $secondary_color;
    }

}
 