@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

$primary_color:#5F65E7;
$secondary_color:#2C3995;



$pure:#ffffff;
$dark:#000;
$clr_1:#F1F1F1;
$clr_2:#F1F1F1;
$clr_3:#FFE195;
$clr_4:#FFC0C0;
$clr_5:#AFFFE7;
$clr_6:#606060;

.color-pure{
    color:$pure;
}

.dark-back{
    overflow:hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color:rgba(0, 0, 0, 0.295);
    width: 100vw;
    height: 100vh;
    animation: dark_back 0.1s linear;
}

.full-screen{
    overflow:hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color:rgba(0, 0, 0, 0.295);
    width: 100%;
    height: 100%;
    animation: dark_back 0.1s linear;
}

@keyframes dark_back{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}
.color-primary{
    color:$primary_color;
}
.back-box{
    border-radius:1.2rem;
    width: 4rem;
    height: 4rem;
    background-color:$primary_color;
    cursor: pointer;
 
}
.pointer{
    cursor: pointer;
}
.col-100{
    width: 10rem;
    display: inline-block;
}

.col-200{
    width: 20rem;
    display: inline-block;
}

.col-300{
    width: 30rem;
    display: inline-block;
}
.d-flex{
    display: flex;
}

.m-yy-20{
margin-top: 2rem ;
margin-bottom: 2rem ;
}

.m-xx-20{
    margin-left: 2rem ;
    margin-right: 2rem ;
    }
    
.none{
    display:none;
}
.d-flex-center{
    display: flex;
align-items: center;
}
.just-center{
    display: flex;
align-items: center;
justify-content: center;
}
.just-space{
    display: flex;
align-items: center;
justify-content: space-between;
}
.t-center{
    text-align: center;
}


.head-12-regular{
    font-size:1.2rem;
    font-weight:300;
}

.head-12-semi{
    font-size:1.2rem;
    font-weight:400;
}
.head-12-bold{
    font-size:1.2rem;
    font-weight:600;
}


.head-14-regular{
    font-size:1.4rem;
    font-weight:300;
}

.head-14-semi{
    font-size:1.4rem;
    font-weight:400;
}
.head-14-bold{
    font-size:1.4rem;
    font-weight:600;
}
.rot-180{
    transform:rotate(180deg);
}

.head-16-regular{
    font-size:1.6rem;
    font-weight:300;
}

.head-16-semi{
    font-size:1.6rem;
    font-weight:400;
}
.head-16-bold{
    font-size:1.6rem;
    font-weight:600;
}

.head-18-regular{
    font-size:1.8rem;
    font-weight:300;
}

.head-18-semi{
    font-size:1.8rem;
    font-weight:400;
}
.head-18-bold{
    font-size:1.8rem;
    font-weight:600;
}

.head-24-regular{
    font-size:2.4rem;
    font-weight:300;
}

.head-24-semi{
    font-size:2.4rem;
    font-weight:400;
}
.head-24-bold{
    font-size:2.4rem;
    font-weight:600;
}