.all-notes-page{
    position: relative;

//     & .floting-button{
// position: absolute;
// bottom: 5%;
// right:  5%;
// }
    
    & .notes-section{
        position: relative;
        overflow: overlay;
        height: 85vh;
        display: grid;
        padding:3rem 5rem;
        grid-template-columns: repeat(4,1fr);
        row-gap: 6rem;
        & .add-note-popup{

            & .note-popup-form{
                max-height:5rem;
                overflow:overlay;
                border:2px solid;
                & .input-wrapper{
                    position: relative;
                    width: 10rem;
                }
                & .button-wrapper{
                    // width: 10rem;
                    border: 2px solid;
                    height:4rem;
                    margin: 0 3rem;
                }
            }
        }
    }
}
// .button-wrapper{
//     // width: 10rem;
     
    
//     // margin: 0 3rem;
// }
.color-pick{
    width:4rem;
    height:4rem;
    border: 2px transparent;
    margin-right:  2rem;
    border-radius:0.5rem;
    
}
.color-pick-selected,.color-pick:hover{
    box-shadow:0 3px 5px rgba(0, 0, 0, 0.116) ;
    transform: translateY(-2px);
    width:4rem;
    height:4rem;
    // border: 2px solid;
    margin-right:  2rem;
    border-radius:0.5rem;
}
.color-pick-selected{
    border: 2px solid rgb(143, 143, 143);

}
 