.passwords-page{

  position: relative;
 
    & .tasks-section{
        display: flex;
        flex-direction: column;
        width:100%;
        padding:2rem 6rem  ;  
 
         position: relative;
        overflow: overlay;
        height: 85vh;
    }
}
.password-div{
  background-color: $pure;
  padding:1rem;
  border-radius:1rem;
}